@model IEnumerable<Models.ViewModels.InventoryViewModel>

@using BusinessLogicLayer
@inject BusinessLogic _businessLogic

<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.LocationName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>*@
            @if (_businessLogic.CurrentUserIsCustomer())
            {
                <td>@Html.ActionLink("Add To Cart", "AddToCart", "Order", item)</td>
            }
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
        }
    </tbody>
</table>
