@model IEnumerable<ModelLayer.ViewModels.PlayerViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JpegStringImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.playerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numLosses)
            </td>
            <td>
                <img class="img-responsive small-image" src="@item.JpegStringImage" alt="No Image Found"  style="max-height:100px;width:auto"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { playerId = item.playerId }) |
                @Html.ActionLink("Details", "Details", new { playerId = item.playerId }) |
                @Html.ActionLink("Delete", "Delete", new { playerId = item.playerId })
            </td>
        </tr>
}
    </tbody>
</table>
